.header {
	background-color: var(--third-color);
	height: 60px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 45px 10px 40px;
}

.header__button {
	color: white;
	font-weight: 700;
	font-size: 35px;
}
.header__button:hover {
	color: var(--principal-color);
	transition: 0.5s;
}

.account {
	max-width: 1300px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 100px;
}

.account__image {
	margin-top: 0.1px;
	width: 100%;
	mask-image: linear-gradient(to top, transparent 1%, black 50%);
	z-index: -1;
	margin-bottom: -250px;
}

.account__title h2 {
	padding-left: 25px;
	font-weight: 600;
	font-size: 50px;
}

.account__title h3 {
	padding-left: 25px;
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 70px;
}

.account__fav {
	display: flex;
	flex-direction: column;
}

.account__fav > h3 {
	color: var(--second-color);
	font-size: 35px;
	padding-left: 25px;
	margin: 20px 0px;
}

.account__favoritos__list {
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 0px 10px;
}

.account__reservas__list {
	display: flex;
	border: 1px solid gray;
}

.account__favoritos__null {
	width: 100%;
	padding: 10px;
}

@media screen and (max-width: 1000px) {
	.account__image {
		margin-bottom: -150px;
	}
	.account__title h2 {
		font-size: 40px;
	}
	.account__favoritos__list {
		flex-direction: column;
	}
	.account__title h3 {
		font-size: 17px;
		width: 50%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 500px) {
	.account__image {
		margin-bottom: -80px;
	}
	.account__title h2 {
		font-size: 25px;
	}
	.account__title h3 {
		font-size: 15px;
		width: 50%;
		margin-bottom: 10px;
	}
}
