/* Variables globales */
:root {
	--principal-color: #1dbeb4;
	--second-color: #383b58;
	--third-color: #545776;
	--fourth-color: #f3f1ed;
}

/* Reset*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Roboto", sans-serif;
	background-color: #fff;
	color: var(--second-color);
}
